In [1]:
import pandas as pd

In [2]:
entropy = pd.read_csv('tabela_entropy.csv')
gini = pd.read_csv('tabela_gini.csv')

In [4]:
entropy.head()

  Critério  profundidade  Qtd. Caracteristicas  Qtd. Nós folhas  F-Score
0  Entropy           200                     3                5   0.4709
1  Entropy           300                     4                6   0.5034
2  Entropy           400                     5                6   0.4908
3  Entropy           250                     6                7   0.5063
4  Entropy           350                     7                8   0.5130

In [5]:
gini.head()

  Critério  profundidade  qtd. Características  Qtd. Nós folha  F-Score
0     Gini            10                     3               5   0.4913
1     Gini            10                     5               5   0.5048
2     Gini             5                     4               6   0.4993
3     Gini            50                     5               7   0.5051
4     Gini           100                     6               9   0.5057